// Fonts
@import url("https://fonts.googleapis.com/css?family=Nunito");

// Variables
@import "variables";

// Bootstrap
@import "~bootstrap/scss/bootstrap";

:root,
[data-theme="default"] {
  --bg-color-primary: #03071e;
  --bg-color-secondary: #9d0208;
  --bg-color-tertiary: #f9a826;
  --color-primary: white;
}

[data-theme="light"] {
  --bg-color-primary: #006d77;
  --bg-color-secondary: #e29578;
  --bg-color-tertiary: #edf6f9;
  --color-primary: #edf6f9;
}

.bg-primary-color {
  background-color: var(--bg-color-primary);
}

.bg-secondary-color {
  background-color: var(--bg-color-secondary);
}

.bg-secondary-color {
  background-color: var(--bg-color-tertiary);
}

.golden-btn {
  background-color: var(--bg-color-tertiary);
  border: none;
  color: var(--bg-color-primary);
  padding: 15px 40px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 16px;
  font-size: medium;
  font-weight: bold;
}

.golden-btn:hover {
  background-color: var(--bg-color-secondary);
  color: white;
}
